body {
	background-color: #c9ddff;
	margin: 0 auto;
	width: 30em;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	text-align: center;
	color: #071633;
}

ul {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	font-size: 18px;
}

li {
	color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style: none;
}

#main {
	display: flex;
    justify-content: center;
	flex-direction: column;	
	background-color: #edf2fc;
	padding: 20px;
}

#main div {
	padding: 10px;
	font-size: 20px;
}

#demo h1 {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	color: #071633;
}

#demo2 h1 {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	color: #071633;
}

#demo3 h1 {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	color: #071633;
}